{% extends 'base.html' %}

{% block head_title %}
	HOME
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 slideshow">
        <div id="slideshow0">
          <div class="camera_wrap camera_emboss camera_white_skin">
            <img src="/static/images/sub/sub.jpg" alt="Banner 1" />
            <div data-thumb="/static/images/sub/sub.jpg" data-src="/static/images/sub/sub.jpg" data-link="product.html">
            </div>
            <div data-thumb="/static/images/sub/sub1.jpg" data-src="/static/images/sub/sub.jpg" >
            </div>
            <div data-thumb="/static/images/sub/sub2.jpg" data-src="/static/images/sub/sub2.jpg" >
            </div>
          </div>
        </div>
      </div>
    </div> 
        
    <div class="row">
        <div class="col-md-3 left-menu">
        <div class="">
          <ul>
            {% for cat in catalogs %}
              <li><a href="{% url 'catalog_preview' cat.slug %}">{{ cat.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    
    <div class="col-md-9">
    <h3>Latest Coupons</h3>
    <div class="row">
        {% for product in latest_coupons %}
        <div class="col-md-4">
          <div class="product">
            {% for img in product.productimage_set.all %}
              {% if img.featured %}
              <a href="{% url 'product_preview' product.slug %}"><img alt="{{ product.title }}" src="{{ MEDIA_URL }}{{ img.image }}"></a>
              {% endif %}
            {% endfor %}
          <div class="name">
            <a href="{% url 'product_preview' product.slug %}">{{ product.title }}</a>
            </div>
            <div class="price">
            <p>&#8377; {{ product.price }}</p>
            </div>
        </div>
      </div>
      {% cycle "" "" "</div><div class='row'>" %}
      {% endfor %}          
    </div>

    <h3>Latest Products</h3>
    <div class="row">
        {% for product in latest_products %}
        <div class="col-md-4">
          <div class="product">
            {% for img in product.productimage_set.all %}
              {% if img.featured %}
              <a href="{% url 'product_preview' product.slug %}"><img alt="{{ product.title }}" src="{{ MEDIA_URL }}{{ img.image }}"></a>
              {% endif %}
            {% endfor %}
          <div class="name">
            <a href="{% url 'product_preview' product.slug %}">{{ product.title }}</a>
            </div>
            <div class="price">
            <p>&#8377; {{ product.price }}</p>
            </div>
        </div>
      </div>
      {% cycle "" "" "</div><div class='row'>" %}
      {% endfor %}          
    </div>

    <h3>Featured Products</h3>
    <div class="row">
        {% for product in featured_products %}
        <div class="col-md-4">
          <div class="product">
            {% for img in product.productimage_set.all %}
              {% if img.featured %}
              <a href="{% url 'product_preview' product.slug %}"><img alt="{{ product.title }}" src="{{ MEDIA_URL }}{{ img.image }}"></a>
              {% endif %}
            {% endfor %}
          <div class="name">
            <a href="{% url 'product_preview' product.slug %}">{{ product.title }}</a>
            </div>
            <div class="price">
            <p>&#8377; {{ product.price }}</p>
            </div>
        </div>
      </div>
      {% cycle "" "" "</div><div class='row'>" %}
      {% endfor %}          
    </div>

    <div class="row">
      <div class="col-md-12">
        
        <div class="newsletter clearfix">
            <h3>Newsletter</h3>
            <div>
            <input type="text" name="email" class="email">
            <input type="submit" value="Subscribe" class="btn btn-primary">
            </div>
        </div>
      </div>
    </div>
     </div>
 </div> 
{% endblock %}