{% extends 'base.html' %}

{% block head_title %}
  HOME
{% endblock %}

{% block content %}
<!-- carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/images/slider.png" alt="...">
      <div class="carousel-caption">
        Slider 1
      </div>
    </div>
    <div class="item">
      <img src="/static/images/slider.png" alt="...">
      <div class="carousel-caption">
        slider 2
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- end of carousel -->

<!-- coupons carousel -->
<div class="listcarousel container">
	<h2 class="text-success">Latest Coupons</h2>
	<hr/>
	<div class="carousel slide" id="couponcarousel">
		<div class="carousel-inner">
		<!-- sample thumbnail carousel images -->
		    <div class="item active">
		        <div class="row">
				{% for product in latest_coupons %}
						<div class="col-md-3 column productbox thumbnail">
							{% for img in product.productimage_set.all %}
								{% if img.featured %}
							    	<img src="{{ MEDIA_URL }}{{ img.image }}" class="img-responsive" alt="{{ product.title }}"/>
								{% endif %}
						    {% endfor %}
						    <div class="producttitle">{{ product.title }}</div>
						    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-success btn-sm" role="button">ADD TO CART</a></div><div class="pricetext"> &#8377; {{ product.price }}</div></div>
						</div>
						{% cycle "" "" "" "</div></div><div class='item'><div class='row'>" %}
					{% endfor %} 	
			        </div><!--/row-fluid-->
			    </div><!--/item-->
			<!-- end of sample thumbnail carousel images -->    
		</div><!-- end of carousel inner -->

	    <a class="left carousel-control" href="#couponcarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    <a class="right carousel-control" href="#couponcarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>		
	</div><!-- end of carousel -->
</div><!-- end of list carousel -->
<!-- end of coupons carousel -->

<!-- latest products carousel -->
<div class="listcarousel container">
	<h2 class="text-success">Latest Products</h2>
	<hr/>
	<div class="carousel slide" id="latestproductscarousel">
		<div class="carousel-inner">
		<!-- sample thumbnail carousel images -->
		    <div class="item active">
		        <div class="row">
				{% for product in latest_products %}
						<div class="col-md-3 column productbox thumbnail">
							{% for img in product.productimage_set.all %}
								{% if img.featured %}
							    	<img src="{{ MEDIA_URL }}{{ img.image }}" class="img-responsive" alt="{{ product.title }}"/>
								{% endif %}
						    {% endfor %}
						    <div class="producttitle">{{ product.title }}</div>
						    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-success btn-sm" role="button">ADD TO CART</a></div><div class="pricetext"> &#8377; {{ product.price }}</div></div>
						</div>
						{% cycle "" "" "" "</div></div><div class='item'><div class='row'>" %}
					{% endfor %} 	
			        </div><!--/row-fluid-->
			    </div><!--/item-->
			<!-- end of sample thumbnail carousel images -->    
		</div><!-- end of carousel inner -->

	    <a class="left carousel-control" href="#latestproductscarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    <a class="right carousel-control" href="#latestproductscarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>		
	</div><!-- end of carousel -->
</div><!-- end of list carousel -->
<!-- end of latest products carousel -->

<!-- featured products carousel -->
<div class="listcarousel container">
	<h2 class="text-success">Featured Products</h2>
	<hr/>
	<div class="carousel slide" id="featuredproductscarousel">
		<div class="carousel-inner">
		<!-- sample thumbnail carousel images -->
		    <div class="item active">
		        <div class="row">
				{% for product in featured_products %}
						<div class="col-md-3 column productbox thumbnail">
							{% for img in product.productimage_set.all %}
								{% if img.featured %}
							    	<img src="{{ MEDIA_URL }}{{ img.image }}" class="img-responsive" alt="{{ product.title }}"/>
								{% endif %}
						    {% endfor %}
						    <div class="producttitle">{{ product.title }}</div>
						    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-success btn-sm" role="button">ADD TO CART</a></div><div class="pricetext"> &#8377; {{ product.price }}</div></div>
						</div>
						{% cycle "" "" "" "</div></div><div class='item'><div class='row'>" %}
					{% endfor %} 	
			        </div><!--/row-fluid-->
			    </div><!--/item-->
			<!-- end of sample thumbnail carousel images -->    
		</div><!-- end of carousel inner -->

	    <a class="left carousel-control" href="#featuredproductscarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    <a class="right carousel-control" href="#featuredproductscarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>		
	</div><!-- end of carousel -->
</div><!-- end of list carousel -->
<!-- end of featured products carousel -->
{% endblock %}