<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link href='/static/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/static/css/camera.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script-->  
  <title>Ascendeals | {% block head_title %}{% endblock %}</title>
</head>
<body>
<div class="page-container">
    <div class="header">      
        
      <nav class="navbar container">          
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a href="/" class="navbar-brand">
          <img src="/static/images/logo.png" alt="Sapphire">Ascendeals
        </a>
        </div>
  
                 
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">
              <span class="glyphicon glyphicon-home"></span>              
            </a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Other pages <b class="caret"></b></a>
              <ul class="dropdown-menu multi-2-columns">
                <li><a href="index_center.html" class="ajax_right">Homepage center logo</a></li>
                <li><a href="about.html" class="ajax_right">About</a></li>
                <li><a href="account.html" class="ajax_right">Account</a></li>
                <li><a href="forgot-password.html" class="ajax_right">Forgot password</a></li>
                <li><a href="site-map.html" class="ajax_right">Sitemap</a></li>
                <li><a href="404.html" class="ajax_right">404 Not found</a></li>
              </ul>
            </li>   
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Login/Register</a></li>
                <li><a href="#">Track Order</a></li>
                <li><a href="#">Wish list</a></li>
              </ul>   
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html" class="ajax_right">Contact</a></li>
          </ul>

          <ul class="nav navbar-right cart">
            <li>
              <a href="cart.html" class="dropdown-toggle" data-toggle="dropdown"><span>5</span></a>
            </li>
          </ul>
           
          <form action="/s/" class="navbar-form navbar-search navbar-right" role="search">
            <div class="input-group"> 
              <input type="text" name="q" placeholder="Search" class="search-query col-md-2"><button type="submit" class="btn btn-default icon-search"></button> 
            </div>
          </form>
           
        </div><!-- /.navbar-collapse -->
       </nav>    
    </div>
    
  <div class="container">
   {% block content %} 

   {% endblock %}
  </div><!-- container -->    
  
  

  <div class="footer black">
    <div class="container">
      <!-- div class="arrow"><b class="caret"></b></div -->
        <div class="row">
            <div class="col-md-3">
          <div>
              <h3>Information</h3>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                <li><a href="">Delivery Information</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
              </ul>
            </div>
        </div>
            <div class="col-md-3">
          <div>
              <h3>Customer Service</h3>
                <ul>
                  <li><a href="contact.html" class="ajax_right">Contact Us</a></li>
                <li><a href="">Returns</a></li>
                <li><a href="">Site Map</a></li>
              <li><a href="">Shipping</a></li>
                </ul> 
            </div>
        </div>  

            <!-- div class="col-md-3 twitter">
          <div class="row">
            <h3>Follow us</h3>
            <script type="text/javascript" src="/static/js/twitterFetcher_v9_min.js"></script>
            <ul id="twitter_update_list"><li class="col-md-2">Twitter feed loading</li></ul>      
            <script>twitterFetcher.fetch('256524641194098690', 'twitter_update_list', 2, true, true, false);</script> 
          </div>        
        </div-->  
        <div class="col-md-3">
        </div>

        
        <div class="col-md-3 social">
          <div class="copy">Copyright &copy; Ascendeals</div>
          <ul class="social-network">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            <li><a href=""><i class="fa fa-rss"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li> 
            <li><a href=""><i class="fa fa-youtube"></i></a></li> 
          </ul>
        </div>

        </div>  
  </div>
  </div>  
</div>

<!-- script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.10.2.min.js'><\/script>")</script -->
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/camera.js"></script>
<script type="text/javascript" src="/static/js/sapphire.js"></script>
<script type="text/javascript" src="/static/js/cloud-zoom.1.0.3.js"></script>
<script type="text/javascript" src="/static/js/style.js"></script>
</body>
</html>
