{% extends 'base.html' %}

{% block head_title %}
	{{ catalog.slug }}
{% endblock %}

{% block content %}
		<div class="row">
		    <div class="col-md-3 left-menu">
				<div class="">
					<ul>
					{% for category in catalog.category_set.all %}
						<li><a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}">{{ category.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
				
				<div class="banner">
					<h4>FREE SHIPPING</h4>
				</div>
				
			</div>
		
		<div class="col-md-9">
			
		<div class="row">
		    <div class="col-md-12">
			    <div class="breadcrumbs">
				    <ul class="breadcrumb">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a> <span class="divider"></span></li>
                        <li class="active"><a href="{% url 'catalog_preview' catalog.slug %}">{{ catalog.slug }}</a></li>
                    </ul>
				</div>
			</div>
			
		</div>
		
		<div class="row">
		    <div class="col-md-12">
			    <div class="cat_header">
				    <h2><a href="{% url 'catalog_preview' catalog.slug %}">{{ catalog.title }}</a></h2>
			    </div>

			</div>
		</div>
		
			
		
		<div class="row">
			{% for category in catalog.category_set.all %}
		    <div class="col-md-4">
			    <div class="product">
				    <a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}"><img alt="{{ category.title }}" src="{{ MEDIA_URL }}{{ category.categoryimage }}"></a>
					<div class="name">
				    <a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}">{{ category.title }}</a>
				    </div>
				</div>
			</div>	
			{% cycle "" "" "</div><div class='row'>" %}
			{% endfor %}
		</div>
	

									
		<div class="row">
			<div class="col-md-12">
				<ul class="pagination pull-right">
				  <li><a href="#">&laquo;</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		</div>


	   </div>
	 </div>	
{% endblock %}