{% extends 'base.html' %}

{% block head_title %}
	{{ catalog.slug }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-9">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="{% url 'catalog_preview' catalog.slug %}">{{ catalog.title }}</a></li>
		</ol>

		<div class="row">
			<h3 class="text-success"><a href="{% url 'catalog_preview' catalog.slug %}">{{ catalog.title }}</a></h3>
		</div>

		<hr/>

		<div class="row">
		{% for category in catalog.category_set.all %}
			<div class="col-sm-3 col-md-3">
				<div class="thumbnail">
					<a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}">
						<img src="{{ MEDIA_URL }}{{ category.categoryimage }}" alt="{{ category.title }}" class="img-responsive" />
					</a>
                	<a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}" class=""><h4 class="text-success">{{ category.title }}</h4></a>
                </div>                    
			</div>
			{% cycle "" "" "" "</div><hr/><div class='row'>" %}
		{% endfor %}
		</div>
	</div>
	<div class="col-lg-3">
		<div class="list-group">
			<h4 class="list-group-item list-group-item-info">Categories</h4>
			{% for category in catalog.category_set.all %}
				<a href="{% url 'category_view' catalog=catalog.slug slug=category.slug %}" class="list-group-item">{{ category.title }}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

